<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.pauk"
          android:versionCode="1"
          android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="15"/>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="MyActivity"
                  android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name="razdeli"
                  android:label="@string/razdel" android:screenOrientation="portrait">
        </activity>
        <activity android:name="novosti"
                  android:label="@string/razdel" android:screenOrientation="portrait">
        </activity>

        <activity android:name="itemnovo"
                  android:label="@string/app_name" android:screenOrientation="portrait">
        </activity>

        <activity android:name="stonovostei"
                  android:label="@string/sto" android:screenOrientation="portrait">
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
